@page "/fetchdata"
@using SurrealDb.Examples.Blazor.Server.Models
@using SurrealDb.Net
@inject SurrealDbClient Client

<PageTitle>Weather forecast - Fetch</PageTitle>

<h1>Weather forecast - Fetch</h1>

<p class="description">
    This component demonstrates fetching data from a SurrealDB instance.
    Data is fetched only once, when the page is loaded.
</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Country</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date</td>
                    <td>@forecast.Country</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<WeatherForecast>? forecasts;
    private const int LIMIT = 5;

    protected override async Task OnInitializedAsync()
    {
        var response = await Client.Query($"SELECT * FROM {WeatherForecast.Table} ORDER BY date DESC LIMIT {LIMIT};");

        forecasts = response.FirstOk!.GetValues<WeatherForecast>();
    }
}
